html {
    font-size: 62.5%;
}

.cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart .content {
    width: 155rem;
    height: 90rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart .content .container {
    width: 100%;
    /* height: 57rem; */
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: auto;
}

.cart .content .left-content {
    width: 89rem;
    height: 59rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart .content .left-content h2 {
    color: #121212;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8317rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cart .content .left-content .left-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart .content .left-content .left-top .box {
    /* width: 100%; */
    /* height: 40rem; */
    background: #FFF;
    box-shadow: 0px 0px 16.65137px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    align-items: center;
}

.cart .content .left-content .left-top .box .input-sec {
    width: 100%;
    gap: 2rem;
    display: flex;
}

.cart .content .left-content .left-top .box .input-sec label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    color: #505050;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6651rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart .content .left-content .left-top .box .input-sec label input[type=text] {
    width: auto;
    color: #505050;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6651rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.5rem;
    border: .1rem solid #D3D3D3;
    outline: none;

}

.cart .content .left-content .left-top .box .input-sec label input[type=text]:focus {
    outline: .3rem solid #D47318 !important;
    border: 1px solid rgba(0, 0, 0, 0.0)
}

.cart .content .left-content .left-top .box .input-sec div {
    display: flex;
    gap: 2rem;
    width: 49%;
}

.cart .content .left-content .left-top .box .input-sec div label {
    width: 47.7%;
}

.cart .content .left-content .left-top .box .input-sec div label input {
    width: auto;
    color: #505050;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6651rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: .1rem solid #D3D3D3;
}

.cart .content .left-content .left-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart .content .left-content .left-bottom form {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.cart .content .left-content .left-bottom .box {
    height: 5rem;
    background: #FFF;
    box-shadow: 0px 0px 16.65137px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 4.5rem;
}

.cart .content .left-content .left-bottom .box .checkbox {
    color: #505050;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cart .content .left-content .left-bottom .box .checkbox:hover {
    cursor: pointer;
    color: #121212;

}

.cart .content .left-content .left-bottom .box .checkbox.active {
    color: #2A0F0F;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cart .content .left-content .left-bottom .box .checkbox.active input[type=radio] {
    /* box-shadow:inset 0px 0px 0px .5rem #2A0F0F; */
    accent-color: #2A0F0F;
    background: #2A0F0F;
    border: none;
}

.cart .content .left-content .left-bottom .box .checkbox input {
    content: '';
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid #505050;
}

.cart .content .right-content {
    width: 62.5rem;
    height: 59rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.cart .content .right-content form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart .content .right-content h2 {
    color: #121212;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8317rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cart .content .right-content .box {
    width: 100%;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 0px 16.65137px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart .content .right-content .box .product-sec {
    height: auto;
    /* width: 100%; */
    display: flex;
    padding: 3rem 2.7rem;
}

.cart .content .right-content .box .product-sec .product-inner {
    width: 100%;
    height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cart .content .right-content .box .checkout-sec {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.cart .content .right-content .box .checkout-sec span {
    content: '';
    display: flex;
    width: 100%;
    height: 0.1rem;
    background: #D3D3D3;
    margin-bottom: 1rem;
}


.cart .content .right-content .box .checkout-sec .subtotal p {
    color: #2A0F0F;
    font-family: 'Poppins', sans-serif;
    font-size: 1.64rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cart .content .right-content .box .checkout-sec .subtotal h2 {
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-size: 1.64rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart .content .right-content .box .checkout-sec .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.7rem;
}


.cart .content .right-content .box .checkout-sec .shipping p {
    color: #2A0F0F;
    font-family: 'Poppins', sans-serif;
    font-size: 1.64rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cart .content .right-content .box .checkout-sec .shipping h2 {
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-size: 1.64rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart .content .right-content .box .checkout-sec .shipping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.7rem;
}

.cart .content .right-content .box .checkout-sec .total p {
    color: #2A0F0F;
    font-family: 'Poppins', sans-serif;
    font-size: 1.64rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cart .content .right-content .box .checkout-sec .total h2 {
    color: #505050;
    font-family: "Poppins", sans-serif;
    font-size: 1.64rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart .content .right-content .box .checkout-sec .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.7rem;
}

.cart .content .right-content .box .checkout-sec .checkout-btn {
    width: 100%;
    /* padding: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .content .right-content .box .checkout-sec .checkout-btn button {
    width: 100%;
    margin: 3rem 2.7rem;
    height: 5.2rem;
    background: #2A0F0F;
    color: #D47318;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
}

.cart .content .right-content .box .checkout-sec .checkout-btn button:hover {
    background: #351212;
    cursor: pointer;
}

.checkout-done {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    height: auto;
    width: auto;
    z-index: 100000;
}

.checkout-done .content {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.checkout-done .content h2 {
    color: #D47318;
    font-family: 'Poppins', sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkout-done .content h3{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkout-done .content img{
    margin: 2.4rem 0rem;
    width: 10rem;
    height: 10rem;
}

.checkout-done .content p{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkout-done .content .amount{
    color: #D47318;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}