.rose-website {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .rose-website .overlap-wrapper {
    height: 4952px;
    overflow: hidden;
    width: 1920px;
  }
  
  .rose-website .overlap {
    height: 5102px;
    position: relative;
    width: 2077px;
  }
  
  .rose-website .rectangle {
    background-color: #ffffff;
    height: 4993px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .rose-website .element-section {
    height: 1353px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .rose-website .overlap-group {
    height: 1353px;
    position: relative;
  }
  
  .rose-website .img {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .rose-website .group {
    height: 100px;
    left: 107px;
    position: absolute;
    top: 0;
    width: 1703px;
  }
  
  .rose-website .text-wrapper {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 108px;
  }
  
  .rose-website .div {
    height: 24px;
    left: 669px;
    position: absolute;
    top: 38px;
    width: 376px;
  }
  
  .rose-website .text-wrapper-2 {
    color: #d47318;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.7px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 48px;
  }
  
  .rose-website .text-wrapper-3 {
    color: #d47318;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 137px;
    letter-spacing: -0.7px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 80px;
  }
  
  .rose-website .text-wrapper-4 {
    color: #d47318;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 325px;
    letter-spacing: -0.7px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 45px;
  }
  
  .rose-website .group-2 {
    height: 25px;
    left: 1607px;
    position: absolute;
    top: 39px;
    width: 24px;
  }
  
  .rose-website .group-3 {
    height: 26px;
    left: 1678px;
    position: absolute;
    top: 38px;
    width: 25px;
  }
  
  .rose-website .intersect {
    height: 561px;
    left: 0;
    position: absolute;
    top: 519px;
    width: 1670px;
  }
  
  .rose-website .group-4 {
    height: 236px;
    left: 189px;
    position: absolute;
    top: 741px;
    width: 1555px;
  }
  
  .rose-website .group-5 {
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 248px;
  }
  
  .rose-website .group-6 {
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 77px;
  }
  
  .rose-website .group-7 {
    height: 64px;
    left: 92px;
    position: absolute;
    top: 12px;
    width: 160px;
  }
  
  .rose-website .text-wrapper-5 {
    color: #757478;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.1px;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .text-wrapper-6 {
    color: #757478;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.09px;
    line-height: normal;
    position: absolute;
    top: 37px;
  }
  
  .rose-website .p {
    color: #757478;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 1153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 400px;
  }
  
  .rose-website .overlap-group-wrapper {
    height: 1069px;
    left: 643px;
    position: absolute;
    top: 265px;
    transform: rotate(-9.82deg);
    width: 314px;
  }
  
  .rose-website .overlap-group-2 {
    height: 1170px;
    left: -175px;
    position: relative;
    top: -48px;
    width: 669px;
  }
  
  .rose-website .main {
    height: 1103px;
    left: 90px;
    position: absolute;
    top: 34px;
    transform: rotate(9.82deg);
    width: 488px;
  }
  
  .rose-website .label-design {
    height: 425px;
    left: 145px;
    object-fit: cover;
    position: absolute;
    top: 626px;
    transform: rotate(9.82deg);
    width: 356px;
  }
  
  .rose-website .cap-design {
    height: 249px;
    left: 254px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    transform: rotate(9.82deg);
    width: 158px;
  }
  
  .rose-website .div-wrapper {
    height: 1069px;
    left: 878px;
    position: absolute;
    top: 174px;
    transform: rotate(19.12deg);
    width: 314px;
  }
  
  .rose-website .overlap-2 {
    height: 1257px;
    left: -326px;
    position: relative;
    top: -92px;
    width: 970px;
  }
  
  .rose-website .main-2 {
    height: 1108px;
    left: 164px;
    position: absolute;
    top: 75px;
    transform: rotate(-19.12deg);
    width: 642px;
  }
  
  .rose-website .label-design-2 {
    height: 456px;
    left: 272px;
    object-fit: cover;
    position: absolute;
    top: 654px;
    transform: rotate(-19.12deg);
    width: 404px;
  }
  
  .rose-website .cap-design-2 {
    height: 258px;
    left: 389px;
    object-fit: cover;
    position: absolute;
    top: 79px;
    transform: rotate(-19.12deg);
    width: 189px;
  }
  
  .rose-website .group-8 {
    height: 283px;
    left: 377px;
    position: absolute;
    top: 228px;
    width: 1169px;
  }
  
  .rose-website .overlap-3 {
    height: 210px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 1165px;
  }
  
  .rose-website .ROS-ELEVATED-MOMENTS {
    color: #ffffff;
    font-family: "Syncopate-Regular", Helvetica;
    font-size: 105px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.53px;
    line-height: 104.9px;
    position: absolute;
    text-align: right;
    top: 0;
  }
  
  .rose-website .group-9 {
    height: 70px;
    left: 3px;
    position: absolute;
    top: 116px;
    width: 174px;
  }
  
  .rose-website .overlap-group-3 {
    background-color: #ff9a00;
    border-radius: 61px;
    height: 70px;
    position: relative;
    width: 172px;
  }
  
  .rose-website .text-wrapper-7 {
    color: #1e1d21;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 28px;
    letter-spacing: -0.12px;
    line-height: 25px;
    position: absolute;
    text-align: right;
    top: 23px;
    white-space: nowrap;
  }
  
  .rose-website .text-wrapper-8 {
    color: #983638;
    font-family: "Timmana-Regular", Helvetica;
    font-size: 73px;
    font-weight: 400;
    left: 955px;
    letter-spacing: -0.36px;
    line-height: 72.9px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .rose-website .group-10 {
    height: 148px;
    left: 153px;
    position: absolute;
    top: 854px;
    width: 359px;
  }
  
  .rose-website .overlap-4 {
    height: 148px;
    position: relative;
    width: 363px;
  }
  
  .rose-website .guaranteed {
    border: 2px solid;
    border-color: #983638;
    border-radius: 60.77px/60.37px;
    height: 121px;
    left: 14px;
    position: absolute;
    top: 14px;
    transform: rotate(-15deg);
    width: 122px;
  }
  
  .rose-website .exclude {
    height: 113px;
    left: 2px;
    position: absolute;
    top: 2px;
    transform: rotate(15deg);
    width: 113px;
  }
  
  .rose-website .group-11 {
    height: 73px;
    left: 94px;
    position: absolute;
    top: 38px;
    width: 269px;
  }
  
  .rose-website .text-wrapper-9 {
    color: #8f8f8f;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: -0.09px;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .text-wrapper-10 {
    color: #8f8f8f;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 29px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.14px;
    line-height: normal;
    position: absolute;
    top: 37px;
  }
  
  .rose-website .discover {
    border: 2.48px solid;
    border-color: #d47318;
    border-radius: 63.02px;
    height: 126px;
    left: 1110px;
    position: absolute;
    top: 571px;
    transform: rotate(-14.68deg);
    width: 126px;
  }
  
  .rose-website .subtract {
    height: 111px;
    left: 5px;
    position: absolute;
    top: 5px;
    transform: rotate(14.68deg);
    width: 111px;
  }
  
  .rose-website .element-rd-section {
    background-color: #1c0a0a;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 2160px;
    width: 1920px;
  }
  
  .rose-website .LOGO {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 880px;
  }
  
  .rose-website .overlap-5 {
    height: 1080px;
    position: relative;
    width: 876px;
  }
  
  .rose-website .group-12 {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 876px;
  }
  
  .rose-website .overlap-group-4 {
    background-color: #2a0f0f;
    height: 1080px;
    position: relative;
    width: 872px;
  }
  
  .rose-website .rectangle-2 {
    background-color: #1c0a0a;
    border-radius: 193.14px 193.14px 0px 0px;
    height: 582px;
    left: 249px;
    position: absolute;
    top: 246px;
    width: 386px;
  }
  
  .rose-website .text-wrapper-11 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 325.9px;
    font-weight: 400;
    left: 159px;
    letter-spacing: 0;
    line-height: 325.6px;
    position: absolute;
    text-align: right;
    top: 279px;
    white-space: nowrap;
  }
  
  .rose-website .s {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 325.9px;
    font-weight: 400;
    left: 367px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 466px;
  }
  
  .rose-website .text-wrapper-12 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 51.3px;
    font-weight: 400;
    left: 366px;
    letter-spacing: -0.26px;
    line-height: 51.3px;
    position: absolute;
    text-align: right;
    top: 919px;
    white-space: nowrap;
  }
  
  .rose-website .rectangle-3 {
    border: 3.02px solid;
    border-color: #d47217;
    height: 854px;
    left: 173px;
    position: absolute;
    top: 110px;
    width: 537px;
  }
  
  .rose-website .text-wrapper-13 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 63.4px;
    font-weight: 400;
    left: 294px;
    letter-spacing: -0.32px;
    line-height: 63.3px;
    position: absolute;
    text-align: right;
    top: 855px;
    white-space: nowrap;
  }
  
  .rose-website .text-wrapper-14 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 63.4px;
    font-weight: 400;
    left: 520px;
    letter-spacing: -0.32px;
    line-height: 63.3px;
    position: absolute;
    text-align: right;
    top: 357px;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  
  .rose-website .text-wrapper-15 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 63.4px;
    font-weight: 400;
    left: -302px;
    letter-spacing: -0.32px;
    line-height: 63.3px;
    position: absolute;
    text-align: right;
    top: 556px;
    transform: rotate(90deg);
    white-space: nowrap;
  }
  
  .rose-website .group-13 {
    height: 874px;
    left: 960px;
    position: absolute;
    top: 103px;
    width: 837px;
  }
  
  .rose-website .overlap-6 {
    height: 439px;
    left: 0;
    position: absolute;
    top: 0;
    width: 841px;
  }
  
  .rose-website .heading {
    height: 372px;
    left: 0;
    position: absolute;
    top: 0;
    width: 839px;
  }
  
  .rose-website .text {
    height: 143px;
    left: 0;
    position: absolute;
    top: 0;
    width: 839px;
  }
  
  .rose-website .vector {
    height: 4px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 300px;
  }
  
  .rose-website .text-wrapper-16 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.45px;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .rose-website .ros-is-not-just-a {
    color: #ffffff82;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 153px;
    width: 837px;
  }
  
  .rose-website .line {
    height: 125px;
    left: 0;
    position: absolute;
    top: 314px;
    width: 841px;
  }
  
  .rose-website .text-wrapper-17 {
    color: #ffffff82;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
    width: 837px;
  }
  
  .rose-website .text-wrapper-18 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 35px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 837px;
  }
  
  .rose-website .line-2 {
    height: 125px;
    left: 0;
    position: absolute;
    top: 459px;
    width: 841px;
  }
  
  .rose-website .line-3 {
    height: 125px;
    left: 0;
    position: absolute;
    top: 604px;
    width: 841px;
  }
  
  .rose-website .line-4 {
    height: 125px;
    left: 0;
    position: absolute;
    top: 749px;
    width: 841px;
  }
  
  .rose-website .element-nd-section {
    background-color: #ffffff;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 1080px;
    width: 1920px;
  }
  
  .rose-website .overlap-7 {
    background-image: url(./image.svg);
    background-size: 100% 100%;
    height: 902px;
    left: 1105px;
    position: absolute;
    top: 89px;
    width: 815px;
  }
  
  .rose-website .mask-group {
    height: 902px;
    left: 0;
    position: absolute;
    top: 0;
    width: 815px;
  }
  
  .rose-website .exclusive {
    border: 2.13px solid;
    border-color: #983638;
    border-radius: 54.14px;
    height: 108px;
    left: 368px;
    position: absolute;
    top: 333px;
    transform: rotate(-11.99deg);
    width: 108px;
  }
  
  .rose-website .subtract-2 {
    height: 96px;
    left: 4px;
    position: absolute;
    top: 4px;
    transform: rotate(11.99deg);
    width: 96px;
  }
  
  .rose-website .text-section {
    height: 842px;
    left: 173px;
    position: absolute;
    top: 119px;
    width: 845px;
  }
  
  .rose-website .heading-wrapper {
    height: 288px;
    left: 8px;
    position: absolute;
    top: 0;
    width: 837px;
  }
  
  .rose-website .heading-2 {
    height: 288px;
    position: relative;
    width: 839px;
  }
  
  .rose-website .text-2 {
    height: 143px;
    left: 0;
    position: absolute;
    top: 0;
    width: 729px;
  }
  
  .rose-website .unlock-the-elegance {
    color: #2b0f0f;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .rose-website .embrace-the-allure {
    color: #121212;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 153px;
    width: 837px;
  }
  
  .rose-website .element-sec-subsec {
    height: 503px;
    left: 0;
    position: absolute;
    top: 339px;
    width: 549px;
  }
  
  .rose-website .group-14 {
    height: 27px;
    left: 9px;
    position: absolute;
    top: 138px;
    width: 502px;
  }
  
  .rose-website .text-wrapper-19 {
    color: #717171;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .text-wrapper-20 {
    color: #717171;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 196px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .text-wrapper-21 {
    color: #717171;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 405px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .group-15 {
    height: 27px;
    left: 9px;
    position: absolute;
    top: 232px;
    width: 542px;
  }
  
  .rose-website .group-16 {
    height: 30px;
    left: 9px;
    position: absolute;
    top: 170px;
    width: 478px;
  }
  
  .rose-website .text-wrapper-22 {
    color: #121212;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .text-wrapper-23 {
    color: #121212;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 196px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .text-wrapper-24 {
    color: #121212;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 405px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .group-17 {
    height: 99px;
    left: 8px;
    position: absolute;
    top: 264px;
    width: 518px;
  }
  
  .rose-website .text-wrapper-25 {
    color: #757478;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 69px;
  }
  
  .rose-website .vector-2 {
    height: 2px;
    left: 8px;
    position: absolute;
    top: 427px;
    width: 536px;
  }
  
  .rose-website .vector-wrapper {
    background-image: url(./vector-11.svg);
    background-size: 100% 100%;
    height: 22px;
    left: 8px;
    position: absolute;
    top: 377px;
    width: 536px;
  }
  
  .rose-website .vector-3 {
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 416px;
  }
  
  .rose-website .group-wrapper {
    background-color: #121212;
    border-radius: 54px;
    height: 50px;
    left: 9px;
    position: absolute;
    top: 453px;
    width: 197px;
  }
  
  .rose-website .group-18 {
    height: 27px;
    left: 23px;
    position: relative;
    top: 12px;
    width: 153px;
  }
  
  .rose-website .add-to-cart {
    color: #ffffff;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .right-arrow {
    height: 19px;
    left: 132px;
    position: absolute;
    top: 4px;
    width: 19px;
  }
  
  .rose-website .text-wrapper-26 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 460px;
  }
  
  .rose-website .text-wrapper-27 {
    color: #2b0f0f;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .rose-website .footer-top-section {
    height: 1142px;
    left: 0;
    position: absolute;
    top: 3960px;
    width: 2033px;
  }
  
  .rose-website .overlap-8 {
    height: 992px;
    position: relative;
    width: 1920px;
  }
  
  .rose-website .rectangle-4 {
    background-color: #1c0a0a;
    height: 555px;
    left: 0;
    position: absolute;
    top: 360px;
    width: 1920px;
  }
  
  .rose-website .intersect-2 {
    height: 328px;
    left: 4px;
    position: absolute;
    top: 587px;
    width: 1161px;
  }
  
  .rose-website .text-3 {
    height: 143px;
    left: 181px;
    position: absolute;
    top: 566px;
    width: 693px;
  }
  
  .rose-website .every-bottle-tells-a {
    color: #d47217;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.45px;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .rose-website .white-paper-box {
    height: 758px;
    left: 1146px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 720px;
  }
  
  .rose-website .white-paper-box-2 {
    height: 608px;
    left: 1312px;
    object-fit: cover;
    position: absolute;
    top: 384px;
    width: 608px;
  }
  
  .rose-website .footer {
    background-color: #2a0f0f;
    height: 80px;
    left: 0;
    position: absolute;
    top: 4875px;
    width: 1920px;
  }
  
  .rose-website .group-19 {
    height: 46px;
    left: 173px;
    position: relative;
    top: 17px;
    width: 1576px;
  }
  
  .rose-website .text-wrapper-28 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .rose-website .group-20 {
    height: 30px;
    left: 1440px;
    position: absolute;
    top: 8px;
    width: 132px;
  }
  
  .rose-website .twitter-x {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 38px;
  }
  
  .rose-website .facebook {
    height: 30px;
    left: 47px;
    position: absolute;
    top: 0;
    width: 38px;
  }
  
  .rose-website .linked-in {
    height: 30px;
    left: 94px;
    position: absolute;
    top: 0;
    width: 38px;
  }
  
  .rose-website .text-wrapper-29 {
    color: #d47318;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 701px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .rose-website .element-th-section {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 3240px;
    width: 2077px;
  }
  
  .rose-website .overlap-9 {
    height: 1080px;
    position: relative;
  }
  
  .rose-website .rectangle-5 {
    background-color: #ffffff;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .rose-website .group-21 {
    height: 639px;
    left: 168px;
    position: absolute;
    top: 353px;
    width: 753px;
  }
  
  .rose-website .overlap-10 {
    height: 639px;
    position: relative;
  }
  
  .rose-website .group-22 {
    height: 516px;
    left: 289px;
    position: absolute;
    top: 108px;
    width: 152px;
  }
  
  .rose-website .overlap-group-5 {
    height: 516px;
    position: relative;
  }
  
  .rose-website .main-3 {
    height: 514px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 150px;
  }
  
  .rose-website .label-design-3 {
    height: 184px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 290px;
    width: 143px;
  }
  
  .rose-website .cap-design-3 {
    height: 112px;
    left: 47px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 58px;
  }
  
  .rose-website .shadow {
    height: 639px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 753px;
  }
  
  .rose-website .white-paper-box-3 {
    height: 624px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 265px;
  }
  
  .rose-website .group-23 {
    height: 639px;
    left: 746px;
    position: absolute;
    top: 353px;
    width: 753px;
  }
  
  .rose-website .group-24 {
    height: 639px;
    left: 1324px;
    position: absolute;
    top: 353px;
    width: 753px;
  }
  
  .rose-website .overlap-11 {
    height: 639px;
    position: relative;
    width: 596px;
  }
  
  .rose-website .shadow-2 {
    height: 639px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 596px;
  }
  
  .rose-website .text-4 {
    height: 143px;
    left: 174px;
    position: absolute;
    top: 96px;
    width: 697px;
  }
  
  .rose-website .elevating-the-art-of {
    color: #2a0e0e;
    font-family: "Italianno-Regular", Helvetica;
    font-size: 90px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.45px;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  